name = "SpikingNN"
uuid = "a2976702-bddd-11e9-29f3-e11e525b718e"
authors = ["Kyle Daruwalla <daruwalla.k.public@icloud.com>"]
version = "0.1.0"

[deps]
Adapt = "79e6a3ab-5dfb-504d-930d-738a2a938a0e"
CuArrays = "3a865a2d-5b23-5a0f-bc46-62713ec82fae"
DataStructures = "864edb3b-99cc-5e75-8d2d-829cb0a9cfe8"
Distributions = "31c24e10-a181-5473-b8eb-7969acd0382f"
RecipesBase = "3cdcf5f2-1ef4-517c-9805-6587b60abb01"
Reexport = "189a3867-3050-52da-a836-e630ba90ab69"
SpikingNNFunctions = "ac97e89c-ede4-4801-915b-eb83a6cbfe69"
StructArrays = "09ab397b-f2b6-538f-b94a-2f83cf4a842a"
TensorCast = "02d47bb6-7ce6-556a-be16-bb1710789e2b"

[compat]
julia = "1.4"

[extras]
ImageIO = "82e4d734-157c-48bb-816b-45c225c6df19"
ImageMagick = "6218d12a-5da1-5696-b52f-db25d2ecc6d1"
Pkg = "44cfe95a-1eb2-52ea-b672-e2afdf69b78f"
Plots = "91a5bcdd-55d7-5caf-9e0b-520d859cae80"
PyPlot = "d330b81b-6aea-500a-939a-2ce795aea3ee"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"
VisualRegressionTests = "34922c18-7c2a-561c-bac1-01e79b2c4c92"

[targets]
test = ["Pkg", "Plots", "PyPlot", "Test", "VisualRegressionTests", "ImageIO", "ImageMagick"]
